h1{
    font-size: 60px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
ul {
    list-style: none;
    text-align: center;
}

li a {
    
    color: brown;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
}

li a:hover {
    color: black;
}